html,
body {
  background-image: url('./app/assets/img/pexels-ave-calvar-martinez-4279017.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 600px) {
  html,
  body {
    scroll-padding-top: 72px;
  }
}
